<ion-header>
  <ion-toolbar>
    <ion-title>Alexim71 Dev</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <div id="emoji-container"></div>

  <!-- Fond emojis animé -->
  <div class="emoji-background">
    <span class="emoji">🎉</span>
    <span class="emoji">✨</span>
    <span class="emoji">🏆</span>
    <span class="emoji">🥋</span>
    <span class="emoji">💪</span>
    <span class="emoji">🌟</span>
    <span class="emoji">🎯</span>
    <span class="emoji">🥇</span>
  </div>
  <div class="hint" *ngIf="showHint">
    👉 Glisse horizontalement pour découvrir ton souhait ! ( droite -----> gauche )  
  </div>

  <div class="controls">
    <button ion-button (click)="toggleOpen()">{{ isOpen ? 'Fermer' : 'Ouvrir' }}</button>
  </div>

  <div #rendererContainer id="rendererContainer"></div>
  
</ion-content>