<ion-header>
  <ion-toolbar>
    <ion-title>@Alexim71 DevHaiti</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>


<!-- Container des silhouettes -->
<div class="tkd-background">
  <img src="assets/taekwondo1.png" class="tkd tkd-1">
  <img src="assets/taekwondo2.png" class="tkd tkd-2">
  <img src="assets/taekwondo3.png" class="tkd tkd-3">
  <img src="assets/taekwondo4.png" class="tkd tkd-4">
  <img src="assets/taekwondo5.png" class="tkd tkd-5">
  <img src="assets/taekwondo6.png" class="tkd tkd-6">
  <img src="assets/taekwondo7.png" class="tkd tkd-7">
  <!-- <img src="assets/taekwondo8.png" class="tkd tkd-8"> -->
  <img src="assets/taekwondo9.png" class="tkd tkd-9"> 
  <img src="assets/taekwondo10.png" class="tkd tkd-10">
 
</div>




  <!-- <div id="emoji-container"></div> -->

  <!-- Fond emojis animé -->
  <div class="emoji-background">
    <span class="emoji">🎉</span>
    <span class="emoji">✨</span>
    <span class="emoji">🏆</span>
    <span class="emoji">🥋</span>
    <span class="emoji">💪</span>
      <span class="emoji">🌟</span>
      <span class="emoji">🎯</span>
    <span class="emoji">🥇</span>
  </div>

  <div class="hint" *ngIf="showHint">
    👉 Glisse horizontalement pour découvrir ton souhait ! ( droite -----> gauche )
  </div>

  <div class="controls">
    <button ion-button (click)="toggleOpen()">{{ isOpen ? 'Fermer' : 'Ouvrir' }}</button>
  </div>


<div class="scroll-container">
  <div class="scroll-text">
    🌟 AIDER LES JEUNES C'EST RENFORCER LES BASES DE NOTRE NATION ✨ INTERFACE Sport ✨ Georges Roots Hyppolite 🌟
  </div>
</div>


<!-- ton container three.js -->
<div #rendererContainer id="rendererContainer"></div>



 
</ion-content>
